@import "variables.scss";

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.root {
  background-color: $root-background;
  color: $gray;
  width: 100vw;
  height: 105vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
  width: 70vw;
  border-radius: .625rem;
  margin: 0 auto;

  background-color: $app-background;
}

.flex {
  width: 100%;
  display: flex;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #0D111A #262d3b;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
    
  }

  *::-webkit-scrollbar-track {
    background: #262d3b;
    border-radius: 8px;
    
  }

  *::-webkit-scrollbar-thumb {
    background-color: #0D111A;
    border-radius: 10px;
    border: 3px solid #262d3b;
}
