@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bar-top {
  display: flex;
  flex-direction: row;
}

.controls-container {
  display: flex;
  flex-direction: column;
  background-color: #171717;
  border-bottom: 2px solid #242424;
  width: fit-content;
  padding: 8px;
  width: 100%;
}

.controls-container div:first-child {
  display: flex;
  margin: 0 auto;
}

.controls-container > div > svg {
  padding: 0.75rem;
  width: 3rem;
  cursor: pointer;
}

.bgcover {
  height: 100%;
  width: 100%;
}

.blur {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1px);
  height: 100vh;
  width: 50%;
}

.animates {
  animation: moveInBottom 0.5s ease-in-out;
}

.filter-img {
  filter: brightness(40%);
}

.showcase {
  background-color: #171717;
}

.card-bg {
  background-color: #171717;
}

@media (min-width: 350px) {
  .controls-container {
    min-width: 100vw;
  }

  .controls-container svg {
    margin: 0 5px;
    padding: 0;
    width: 2rem;
  }
}

@media (min-width: 480px) {
  .controls-container {
    min-width: 100vw;
  }

  .controls-container svg {
    margin: 0 5px;
    width: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .controls-container {
    min-width: 100vw;
    flex-direction: row;
  }

  .controls-container svg {
    width: 2.4rem;
    padding: 5px;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1365px) {
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
