@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.controls-container {
  display: flex;
  background-color: #0f172a;
  border-bottom: 2px solid #1c2436;
  width: fit-content;
  padding: 8px;
  width: 100%;
}

.controls-container svg {
  padding-left: 0.75rem;
  width: 2.45rem;
  cursor: pointer;
}

.bgcover {
  height: 100%;
  width: 100%;
}

.blur {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1px);
  height: 100vh;
  width: 50%;
}

.animates {
  animation: moveInBottom 0.5s ease-in-out;
}

.filter-img {
  filter: brightness(40%);
}

@media screen and (max-width: 480px) {
  .controls-container {
    min-width: 100vw;
  }

  .controls-container svg {
    width: 2.2rem;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
