input.volume-input[type="range"] {
  height: 0.5rem;
  -webkit-appearance: none;
  margin: auto 0.625rem;
  width: 10rem;
}
input.volume-input[type="range"]:focus {
  outline: none;
}
input.volume-input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.75rem;
  cursor: pointer;
  animation-duration: 0.2s;
  box-shadow: 1px 1px 2px #a6a6a6;
  background: #6eb4d1;
  border-radius: 0.25rem;
  border: 2px solid #6cbeed;
}
input.volume-input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 2px #a6a6a6;
  border: 2px solid #6cbeed;
  height: 1.875rem;
  width: 0.938rem;
  border-radius: 0.5rem;
  background: #6eb4d1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.688rem;
}
input.volume-input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #6eb4d1;
}
input.volume-input[type="range"]::-moz-range-track {
  width: 100%;
  height: 0.75rem;
  cursor: pointer;
  animation-duration: 0.2s;
  box-shadow: 1px 1px 2px #a6a6a6;
  background: #6eb4d1;
  border-radius: 0.25rem;
  border: 2px solid #6cbeed;
}
input.volume-input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 2px #a6a6a6;
  border: 2px solid #6cbeed;
  height: 1.875rem;
  width: 1.875rem;
  border-radius: 0px;
  background: #6eb4d1;
  cursor: pointer;
}
input.volume-input[type="range"]::-ms-track {
  width: 100%;
  height: 0.75rem;
  cursor: pointer;
  animation-duration: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input.volume-input[type="range"]::-ms-fill-lower {
  background: #6eb4d1;
  border: 2px solid #6cbeed;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 2px #a6a6a6;
}
input.volume-input[type="range"]::-ms-fill-upper {
  background: #6eb4d1;
  border: 2px solid #6cbeed;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 2px #a6a6a6;
}
input.volume-input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 2px #a6a6a6;
  border: 2px solid #6cbeed;
  height: 1.875rem;
  width: 1.875rem;
  border-radius: 0px;
  background: #6eb4d1;
  cursor: pointer;
}
input.volume-input[type="range"]:focus::-ms-fill-lower {
  background: #6eb4d1;
}
input.volume-input[type="range"]:focus::-ms-fill-upper {
  background: #6eb4d1;
}

/* Time input */

.timer {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.timer > label {
  color: #eee;
  font-size: 1.2rem;
  font-weight: bold;
}

.timer > label:first-child {
  margin-right: 0.5rem;
}

.timer > label:last-child {
  margin-left: 0.5rem;
}

/* Input Timer */

input {
  background: transparent;
}

input.time-input[type="range"] {
  height: 0.5rem;
  -webkit-appearance: none;
  margin: auto 0.625rem;
}
input.time-input[type="range"]:focus {
  outline: none;
}
input.time-input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.375rem;
  cursor: pointer;
  animation-duration: 0.2s;
  box-shadow: 1px 1px 2px #a6a6a6;
  background: #222;
  border-radius: 0.25rem;
  border: 2px solid #69c09f;
}
input.time-input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 2px #a6a6a6;
  border: 2px solid #bbbbbb;
  height: 0.938rem;
  width: 0.938rem;
  border-radius: 0.5rem;
  background: #333;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.438rem;
}
input.time-input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #222;
}
input.time-input[type="range"]::-moz-range-track {
  width: 100%;
  height: 0.75rem;
  cursor: pointer;
  animation-duration: 0.2s;
  box-shadow: 1px 1px 2px #a6a6a6;
  background: #222;
  border-radius: 0.25rem;
  border: 2px solid #6cbeed;
}
input.time-input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 2px #a6a6a6;
  border: 2px solid #6cbeed;
  height: 1.875rem;
  width: 1.875rem;
  border-radius: 0px;
  background: #222;
  cursor: pointer;
}
input.time-input[type="range"]::-ms-track {
  width: 100%;
  height: 0.75rem;
  cursor: pointer;
  animation-duration: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input.time-input[type="range"]::-ms-fill-lower {
  background: #222;
  border: 2px solid #6cbeed;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 2px #a6a6a6;
}
input.time-input[type="range"]::-ms-fill-upper {
  background: #222;
  border: 2px solid #6cbeed;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 2px #a6a6a6;
}
input.time-input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 2px #a6a6a6;
  border: 2px solid #6cbeed;
  height: 1.875rem;
  width: 1.875rem;
  border-radius: 0px;
  background: #222;
  cursor: pointer;
}
input.time-input[type="range"]:focus::-ms-fill-lower {
  background: #222;
}
input.time-input[type="range"]:focus::-ms-fill-upper {
  background: #222;
}

@media (min-width: 350px) {
  .timer > label {
    font-size: 0.8rem;
  }

  input.time-input[type="range"] {
    -webkit-appearance: none;
    margin: auto 0.625rem;
    width: 100%;
  }

  .timer {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
  }

  .timer > label:first-child {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  .timer > label:last-child {
    margin-left: 0.1rem;
  }
}

@media (min-width: 480px) {
  input.time-input[type="range"] {
    height: 0.5rem;
    -webkit-appearance: none;
    margin: auto 0.625rem;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .timer > label {
    font-size: 0.8rem;
  }

  input.time-input[type="range"] {
    height: 0.5rem;
    -webkit-appearance: none;
    margin: auto 0.625rem;
    width: 100%;
  }

  .timer {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .timer > label:first-child {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  .timer > label:last-child {
    margin-left: 0.5rem;
  }
}

@media (min-width: 1024px) {
  input.time-input[type="range"] {
    height: 0.5rem;
    -webkit-appearance: none;
    margin: auto 0.625rem;
    width: 40rem;
  }
}
