.card {
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  background: transparent;
  cursor: pointer;

  h1 {
    font-size: 0.82rem;
    margin: 0;
    color: #ffffff;
    font-weight: bold;
  }

  p {
    font-size: 0.8rem;
  }
}
    
