.card {
  display: flex;
  justify-content: space-between;
  background: transparent;
  cursor: pointer;
  padding: .5rem;
  border-radius: .5rem;

  h1 {
    font-size: .9rem;
    margin: 0;
    color: #ffffff;
    font-weight: bold;
    
  }

  p {
    font-size: 0.8rem;
    font-weight: 300;
  }
}
    
