@import "../../assets/css/variables.scss";

.controls-container {
  width: 15rem;
  margin: 0 auto;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }

  svg {
    width: 1.875rem;
    cursor: pointer;
    margin: 0 10px;
  }

  .play-btn {
    width: 3.125rem;
    padding: .3rem;
    border-radius: 50%;
    background-color: $root-background;
  }

  .pause-btn {
    width: 3.125rem;
    padding: .3rem;
    border-radius: 50%;
    background-color: $root-background;
  }
}
