.container {
  display: flex;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;

  .banner {
    padding: 0;
    min-width: 100%;
    height: 10rem;
    position: absolute;
    z-index: 1;
    filter: blur(0.8rem);
  }

  .song-info {
    z-index: 5;
    padding: 1rem;
    display: flex;
    position: relative;

    img {
      width: 7.5rem;
      border-radius: 0.5rem;
    }

    h1 {
      font-size: 2rem;
      font-weight: bold;
      margin: 4rem 0 0 1rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    .song-info {
      z-index: 5;
      padding: 1rem;
      display: flex;
      position: relative;

      img {
        width: 4.5rem;
        border-radius: 0.5rem;
      }

      h1 {
        font-size: 1rem;
        font-weight: bold;
        margin: 2rem 0 0 1rem;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    .song-info {
      h1 {
        font-size: 2rem;
      }
    }
  } 
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1280px) {
}

@media screen and (min-width: 1440px) {
}
